@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

i {
  font-family: FontAwesome;
  font-style: normal;
}

a {
  text-decoration: none;
  color: initial;
}

mark {
  background-color: #C1C0DC;
}

.yellow_link {
  width: 30%;
  color: #FFA600;
  text-decoration: underline;
}

.data {
  color: #6461A7;
  font-size: 12px;
}

.circle_plus {
  width: 100%;
  padding-left: 65%;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 12vh;
  background-color: #EBDABE;
}
header .header_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .header_box img {
  height: 100%;
}
header .header_box .header_buttons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}
header .header_box .header_buttons button {
  width: 30%;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header .header_box .header_buttons button i {
  margin-right: 5%;
  color: #6461A7;
}
header .header_box .header_buttons .white {
  width: 35%;
}
header .header_box .header_buttons .yellow {
  background-color: #FFA600;
  color: white;
}
header .header_box .header_buttons .icon_connect {
  width: 15px;
}

.banner_gradient {
  width: 100%;
  height: 5vh;
  background: rgb(100, 97, 167);
  background: linear-gradient(90deg, rgb(100, 97, 167) 35%, rgb(193, 192, 220) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_gradient .banner_gradient_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner_gradient p {
  color: white;
}

.nav_box {
  width: 100%;
  height: 6vh;
  background-color: #F7F0E5;
}
.nav_box nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_box nav ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.nav_box nav li {
  list-style-type: none;
}

.section_news {
  width: 100%;
  height: 100%;
  display: flex;
}
.section_news .section_box {
  width: 65%;
  height: 100vh;
}
.section_news .section_box article {
  margin: 5% 0 0 10%;
}
.section_news .section_box article .title {
  display: flex;
  align-items: flex-end;
}
.section_news .section_box article h2 {
  text-transform: uppercase;
  font-weight: 500;
}
.section_news .section_box article .line {
  background-color: #D7A1BA;
  color: #D7A1BA;
  width: 120px;
  height: 5px;
  margin: 0px 0px 0.5% 1%;
}
.section_news .section_box article h3 {
  color: #6461A7;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 2% 0px 2% 0px;
  width: 88%;
  line-height: 1.5em;
}
.section_news .section_box article p {
  margin: 2% 0px 0px 0px;
  width: 85%;
}
.section_news .section_box article .link_box {
  display: flex;
  flex-direction: column;
  margin: 2% 0px 0px 0px;
  line-height: 2em;
}
.section_news .img_box {
  position: absolute;
  left: 60%;
  margin-top: 6%;
}
.section_news .background_gradient {
  width: 35%;
  height: 100vh;
  background: #c1c0dc;
}

.aside_box {
  position: absolute;
  top: 85%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 500px;
}
.aside_box .news_aside {
  width: 40%;
  background-color: white;
  padding: 20px;
  line-height: 2em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.aside_box h4 {
  color: #6461A7;
}
.aside_box .circle_plus {
  padding-left: 95%;
}

.medias {
  width: 100%;
  background-color: #EBDABE;
  position: relative;
}
.medias .medias_box {
  display: flex;
  justify-content: space-around;
  padding: 2% 0 2% 0;
}
.medias .medias_box video {
  width: 45%;
  position: relative;
  cursor: pointer;
}
.medias .medias_box .media_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  margin-right: 15%;
}

.stats {
  margin-bottom: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats .stats_background {
  margin-top: 5%;
  position: relative;
  z-index: 1;
  width: 65%;
  height: 50vh;
}
.stats .stats_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: url(../assets/background.jpg);
  background-size: 100%;
  background-position-y: bottom;
}

.mySlides {
  display: none;
  width: 500px;
}
.mySlides img {
  width: 100%;
  height: 50%;
  border: 10px #6461A7 solid;
}

.stats_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slideshow-container {
  /* Fading animation */
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  left: 7%;
}
.slideshow-container .next {
  left: 40%;
  transform: rotate(180deg);
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.stats_info {
  height: 90%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}
.stats_info h3 {
  font-size: 30px;
  font-weight: 300;
  color: #4A4A4A;
}
.stats_info .stats_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.stats_info .icon_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #6461A7;
  width: 50%;
  margin-top: 10%;
}
.stats_info .icon_item span {
  font-size: 35px;
  font-weight: 500;
}
.stats_info button {
  width: 45%;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #FFA600;
  color: white;
  font-size: 15px;
}

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
