@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

i {
  font-family: FontAwesome;
  font-style: normal;
}

a {
  text-decoration: none;
  color: initial;
}

button, li, i, svg {
  cursor: pointer;
}

mark {
  background-color: #C1C0DC;
}

.yellow_link {
  width: 30%;
  color: #FFA600;
  text-decoration: underline;
}
.yellow_link:hover {
  color: #6461A7;
}

.data {
  color: #6461A7;
  font-size: 12px;
}

.circle_plus {
  width: 100%;
  padding-left: 65%;
}

li {
  list-style-type: none;
}

.beige {
  background-color: #F7F0E5;
}

.blue {
  background-color: #6461A7;
}

.pink {
  background-color: #D7A1BA;
}

.formErrors {
  color: red;
}

.formSucces {
  color: green;
}

.reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.dashboard_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard_page h1 {
  color: green;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: #EBDABE;
}
header .header_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .header_box img {
  height: 100%;
}
header .header_box .header_buttons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}
header .header_box .header_buttons .menu {
  display: none;
}
header .header_box .header_buttons button {
  padding: 15px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header .header_box .header_buttons button:nth-child(1):hover {
  background-color: #F7F0E5;
}
header .header_box .header_buttons button:nth-child(2):hover {
  background-color: #fed485;
}
header .header_box .header_buttons button a {
  width: 100%;
}
header .header_box .header_buttons button i {
  margin-right: 5%;
  color: #6461A7;
}
header .header_box .header_buttons .white {
  width: 35%;
}
header .header_box .header_buttons .yellow {
  background-color: #FFA600;
}
header .header_box .header_buttons .yellow a {
  color: white;
}
header .header_box .header_buttons .icon_connect {
  width: 15px;
}

.banner_gradient {
  width: 100%;
  height: 7vh;
  background: rgb(100, 97, 167);
  background: linear-gradient(90deg, rgb(100, 97, 167) 35%, rgb(193, 192, 220) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_gradient .banner_gradient_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner_gradient p {
  color: white;
}

.nav_box {
  width: 100%;
  height: 9vh;
  background-color: #F7F0E5;
}
.nav_box nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_box nav ul {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.section_news {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section_news .section_box {
  width: 65%;
  height: 100vh;
}
.section_news .section_box article {
  margin: 5% 0 0 10%;
}
.section_news .section_box article .title {
  display: flex;
  align-items: flex-end;
}
.section_news .section_box article h2 {
  text-transform: uppercase;
  font-weight: 500;
}
.section_news .section_box article .line {
  background-color: #D7A1BA;
  color: #D7A1BA;
  width: 120px;
  height: 5px;
  margin: 0px 0px 0.5% 1%;
}
.section_news .section_box article h3 {
  color: #6461A7;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 2% 0px 2% 0px;
  width: 88%;
  line-height: 1.5em;
}
.section_news .section_box article p {
  margin: 2% 0px 0px 0px;
  width: 85%;
}
.section_news .section_box article .link_box {
  display: flex;
  flex-direction: column;
  margin: 2% 0px 0px 0px;
  line-height: 2em;
}
.section_news .img_box {
  height: 400px;
  position: absolute;
  left: 60%;
  margin-top: 6%;
  z-index: 1;
}
.section_news .img_box img {
  object-fit: cover;
}
.section_news .background_gradient {
  position: absolute;
  right: 0;
  width: 35%;
  height: 185%;
  background-image: url(../assets/bg-home-jfhod.png);
  z-index: -1;
}

.aside_box {
  top: 85%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 5%;
}
.aside_box .news_aside {
  width: 40%;
  background-color: white;
  padding: 20px;
  line-height: 2em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.aside_box h4 {
  color: #6461A7;
}
.aside_box .circle_plus {
  margin-left: 15%;
}

.medias {
  width: 100%;
  background-color: #EBDABE;
  position: relative;
}
.medias .medias_box {
  display: flex;
  justify-content: space-around;
  padding: 2% 0 2% 0;
}
.medias .medias_box .video_box {
  width: 45%;
  height: 100%;
  position: relative;
}
.medias .medias_box .video_box .svg_box {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.medias .medias_box video {
  width: 100%;
  position: relative;
  cursor: pointer;
  object-fit: cover;
}
.medias .medias_box .media_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  margin-right: 5%;
}
.medias .medias_box .media_column .media_item {
  position: relative;
}
.medias .medias_box .media_column .media_item:nth-child(1) .media_img {
  background: rgb(255, 166, 1);
}
.medias .medias_box .media_column .media_item:nth-child(1) .media_txt {
  background: rgb(255, 166, 1);
  background: rgba(255, 166, 1, 0.6);
}
.medias .medias_box .media_column .media_img {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  background: rgb(100, 97, 167);
}
.medias .medias_box .media_column .media_txt {
  position: absolute;
  bottom: 0;
  background: rgba(100, 97, 167, 0.9);
  background: rgba(100, 97, 167, 0.6);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  color: white;
  font-size: 20px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.medias .medias_box .media_column .media_txt h3 {
  width: 60%;
  text-align: left;
  line-height: 1.3em;
  font-size: 28px;
  font-weight: 400;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats .stats_background {
  margin-top: 5%;
  position: relative;
  z-index: 1;
  width: 80%;
  height: 90vh;
  padding: 0% 3% 0% 3%;
}
.stats .stats_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: url(../assets/background.jpg);
  background-size: 100%;
  background-position-y: bottom;
}

.mySlides {
  display: none;
  width: 500px;
}
.mySlides img {
  width: 100%;
  height: 50%;
  border: 10px #6461A7 solid;
}

.stats_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slideshow-container {
  position: relative;
  /* Fading animation */
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -35px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  left: 7%;
}
.slideshow-container .next {
  left: 48%;
  transform: rotate(180deg);
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.stats_info {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.stats_info h3 {
  font-size: 30px;
  font-weight: 300;
  color: #4A4A4A;
}
.stats_info .stats_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.stats_info .icon_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #6461A7;
  width: 50%;
  margin-top: 10%;
}
.stats_info .icon_item span {
  font-size: 35px;
  font-weight: 500;
}
.stats_info button {
  width: 45%;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #FFA600;
  color: white;
  font-size: 15px;
}
.stats_info button:hover {
  background-color: #fed485;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.partners h3 {
  color: #6461A7;
  font-weight: 400;
  font-size: 20px;
}
.partners .partners_box {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.partners .partners_mobil_img {
  display: none;
}
.partners svg {
  cursor: pointer;
}
.partners .next svg {
  transform: rotate(180deg);
}

.contact_us {
  margin-top: 5%;
  width: 100%;
  background-color: #6461A7;
  display: flex;
  align-items: center;
  color: white;
  height: 10vh;
}
.contact_us p {
  font-size: 17px;
}
.contact_us button {
  padding: 15px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #4A4A4A;
  font-weight: 200;
  font-size: 15px;
}
.contact_us button:hover {
  background-color: #F7F0E5;
}
.contact_us .contact_us_box {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.contact_us .contact_us_item {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  align-items: center;
}

footer {
  padding-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #F7F0E5;
}
footer a {
  color: #6461A7;
}
footer .footer_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer .logo p {
  margin-top: 2%;
  width: 70%;
  line-height: 1.5em;
  color: #6461A7;
}
footer .footer_nav_box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
footer .footer_nav_box .footer_nav {
  width: 100%;
}
footer .footer_nav_box .footer_nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 2em;
  color: #6461A7;
}
footer .footer_nav_box .footer_nav li {
  margin-left: 3%;
}
footer .footer_nav_box .follow_us_nav {
  margin-top: 5%;
}
footer .footer_nav_box .follow_us_nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
footer .footer_nav_box .follow_us_nav li {
  margin-left: 3%;
}
footer .footer_nav_box .follow_us_nav i {
  color: #6461A7;
}
footer hr {
  margin-top: 3%;
  width: 98%;
  color: #6461A7;
}
footer .mention_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1%;
}
footer .mention {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
footer .mention i {
  color: #D7A1BA;
  margin: 0 0.5% 0 0.5%;
}

.login_registration_page {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_registration_page .login_registration_box {
  width: 80%;
}
.login_registration_page .router_infos {
  display: flex;
  align-items: center;
}
.login_registration_page .home {
  margin-right: 0.5%;
}
.login_registration_page .title {
  display: flex;
  width: 80%;
  margin-top: 1%;
  color: #6461A7;
  font-size: 30px;
  font-weight: 400;
}
.login_registration_page .login_items_box {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 5%;
}
.login_registration_page .login_items_box .login_item {
  width: 45%;
  height: 200px;
  padding: 20px;
  line-height: 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login_registration_page .login_items_box .login_item:nth-child(2) {
  justify-content: flex-start;
}
.login_registration_page .login_items_box .login_item:nth-child(2) p {
  width: 75%;
  text-align: center;
}
.login_registration_page .login_items_box .login_item:nth-child(2) button:hover {
  background-color: #EFD9E3;
}
.login_registration_page .login_items_box .login_item:nth-child(2) button:hover a {
  color: #D7A1B1;
}
.login_registration_page .login_items_box .login_item:nth-child(1) button:hover {
  background-color: #C1C0DC;
}
.login_registration_page .login_items_box .login_item:nth-child(1) button:hover a {
  color: #6461A7;
}
.login_registration_page .login_items_box button {
  height: 35px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-size: 18px;
}
.login_registration_page .login_items_box button a {
  color: white;
}
.login_registration_page .login_items_box .yellow_link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.registration_page {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.registration_page .registration_box {
  width: 80%;
}
.registration_page h2 {
  text-align: center;
  color: #4a4a4a;
}
.registration_page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registration_page .inputs {
  border: 1px solid #6461A7;
  width: 70%;
  margin-top: 3%;
  padding: 10px;
}
.registration_page .submit {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: all 0.3s ease-out;
}
.registration_page .submit:hover {
  background-color: #FFA600;
}

.login_page {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.login_page .login_box {
  width: 80%;
}
.login_page h2 {
  text-align: center;
  color: #4a4a4a;
}
.login_page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_page .inputs {
  border: 1px solid #6461A7;
  width: 70%;
  margin-top: 3%;
  padding: 10px;
}
.login_page .submit {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: all 0.3s ease-out;
}
.login_page .submit:hover {
  background-color: #FFA600;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
    justify-content: flex-end;
    height: 32vh;
    padding-top: 10%;
    background-image: url(../assets/JFHOD-2023_Logo_mobile.jpg);
    background-repeat: no-repeat;
  }
  header .header_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .header_box img {
    display: none;
  }
  header .header_box .header_buttons {
    width: 100%;
    background: rgb(100, 97, 167);
    background: linear-gradient(90deg, rgb(100, 97, 167) 35%, rgb(193, 192, 220) 100%);
    margin-right: 0%;
    padding: 2%;
    justify-content: space-between;
  }
  header .header_box .header_buttons .menu {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0 15px 0 15px;
    height: 25px;
  }
  header .header_box .header_buttons .menu a {
    color: white;
  }
  header .header_box .header_buttons button {
    padding: 1%;
  }
  header .header_box .header_buttons button:nth-child(2) {
    display: none;
  }
  header .header_box .header_buttons button a {
    width: 100%;
  }

  .banner_gradient {
    display: none;
  }

  .nav_box {
    display: none;
  }

  .section_news {
    width: 100%;
  }
  .section_news .section_box {
    width: 100%;
  }
  .section_news .yellow_link {
    width: 100%;
  }
  .section_news .img_box {
    display: none;
  }
  .section_news .background_gradient {
    display: none;
  }

  .aside_box {
    flex-direction: column;
    align-items: center;
  }
  .aside_box .news_aside {
    width: 80%;
  }
  .medias {
    width: 100%;
    background-color: WHITE;
  }
  .medias .medias_box {
    flex-direction: column;
    align-items: center;
  }
  .medias .medias_box .video_box {
    width: 90%;
  }
  .medias .medias_box .media_column {
    height: 35vh;
    margin-right: 0%;
    margin-top: 5%;
  }

  .stats {
    margin-bottom: 25%;
  }
  .stats .stats_background {
    width: 90%;
  }
  .stats .stats_background::before {
    height: 100vh;
  }

  .stats_box {
    flex-direction: column-reverse;
  }

  .slideshow-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slideshow-container .prev {
    left: 3%;
  }
  .slideshow-container .next {
    left: 82%;
  }

  .stats_info {
    width: 100%;
  }
  .stats_info button {
    position: absolute;
    top: 102%;
  }

  .partners .partners_box {
    margin-top: 8%;
    width: 90%;
  }
  .partners .partners_img {
    display: none;
  }
  .partners .partners_mobil_img {
    display: block;
  }

  .contact_us {
    justify-content: center;
    height: 18vh;
  }
  .contact_us .contact_us_box {
    width: 80%;
  }
  .contact_us .contact_us_item {
    flex-direction: column;
    width: 100%;
    line-height: 3em;
  }

  footer .footer_box {
    flex-direction: column;
    align-items: center;
  }
  footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .footer_nav_box {
    width: 76%;
  }
  footer .footer_nav_box .footer_nav {
    margin-top: 10%;
  }
  footer .footer_nav_box .footer_nav ul {
    justify-content: center;
  }
  footer .footer_nav_box .follow_us_nav {
    margin-top: 5%;
  }
  footer .footer_nav_box .follow_us_nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  footer .footer_nav_box .follow_us_nav li {
    margin-left: 3%;
  }
  footer .footer_nav_box .follow_us_nav i {
    color: #6461A7;
  }
  footer .mention {
    padding: 8%;
  }

  .login_registration_page .login_items_box {
    flex-direction: column;
    width: 80%;
  }
  .login_registration_page .login_items_box .login_item {
    width: 95%;
    text-align: center;
  }
  .login_registration_page .login_items_box .login_item:nth-child(2) {
    justify-content: space-around;
  }
  .login_registration_page .login_items_box .login_item:nth-child(1) button:hover {
    background-color: #C1C0DC;
  }
  .login_registration_page .login_items_box .login_item:nth-child(1) button:hover a {
    color: #6461A7;
  }

  .login_page {
    justify-content: center;
  }
  .login_page .inputs {
    width: 100%;
  }

  .registration_page {
    justify-content: center;
  }
  .registration_page .inputs {
    width: 100%;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
